#burger {
  width: 500px;
  margin: 0 auto;
}
#burger #top-bun {
  height: 100px;
  border-radius: 900px 900px 10px 10px;
  background-color: #a27732;
  border-top: 9px solid #906725;
}
#burger #lettuce {
  border-radius: 8px;
  background-color: #80d041;
  height: 8px;
  border-bottom: 3px solid #0f6d12;
}
#burger #tomato {
  border-radius: 14px;
  background-color: #f13233;
  height: 20px;
  border-bottom: 5px solid #940c0e;
}
#burger #onion {
  border-radius: 8px;
  background-color: #b95381;
  height: 13px;
  border-bottom: 4px solid #7e1846;
}
#burger #cheese {
  background-color: #e8ea02;
  border-radius: 10px;
  height: 15px;
  border-bottom: 5px solid #eab902;
}
#burger #beef {
  border-radius: 15px;
  background-color: #603102;
  height: 30px;
  border-bottom: 16px solid #402408;
}
#burger #bottom-bun {
  background-color: #a27732;
  border-radius: 10px 10px 50px 50px;
  height: 60px;
  border-bottom: 11px solid #724d12;
}

@media (max-width: 780px) {
  #burger {
    width: 300px;
  }
}
